<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/reservestyle.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin-login">Admin</a></li>
                <li><a href="/reserve">Reservations</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="content">

            {%for message in get_flashed_messages()%}
                <div class="alert">
                    {{ message }}
                </div>
            {%endfor%}
            {% block content %} {% endblock %}
        </div>
        <h1>Seating Chart</h1>
        
    </div>

</body>
</html>