<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/admindashboard.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin-login">Admin Login</a></li>
                <li><a href="/reserve">Reservations</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="content">

            {% for message in get_flashed_messages() %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
            
            <h1>Admin Dashboard</h1>

            <h4>Print seating chart...</h4>

            <div class="seating-chart">
        
                <p>X = Reserved Seat | O = Available Seat</p>
                <table>
                    {% for row in seating_chart %}
                        <tr>
                            {% for seat in row %}
                                <td>{{ seat }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="total-sales">

                <p>Total Sales: ${{ total_sales }}</p>
            </div>
            <!-- Admin Login Form -->
            <div class="admin-login-form">
    
                <form action="{{ url_for('admin_login') }}" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>
    </form>
            </div>

        </div>
    </div>
</body>
</html>

