<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve Your Seat</title>
    <link rel="stylesheet" href="/static/reservestyle.css">
</head>
<body>
    <div class="container">
        <div class="content">

            {%for message in get_flashed_messages()%}
                <div class="alert">
                    {{ message }}
                </div>
            {%endfor%}
            {% block content %} {% endblock %}
        </div>
        <h1>Reserve Your Seat</h1>
        <div class="seating-chart">
            <p>X = Reserved Seat : O = Available Seat</p>
            <table>
                {% for row in seating_chart %}
                    <tr>
                        {% for seat in row %}
                            <td>{{ seat }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <form method="POST">
            <div class="form-group">
                <label for="name">Passenger Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="row">Choose a Row:</label>
                <select id="row" name="row" required>
                    <option value="">Choose a Row</option>
                    {% for i in range(rows) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="seat">Choose a Seat:</label>
                <select id="seat" name="seat" required>
                    <option value="">Choose a Seat</option>
                    {% for i in range(seats_per_row) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
